<footer>
    <span>A CHECK24 GenDev Project by Kacper Darowski</span>
    <a class="link" href="https://opisek.net">Website</a>
    <a class="link" href="https://opisek.net/linkedin">LinkedIn</a>
    <a class="link" href="https://opisek.net/git/check24gendev2022">GitHub</a>
    <a class="link" href="mailto:darowski.kacper@gmail.com">E-Mail</a>
</footer>