<div class="page">
    <span>Page</span>
    <button class="filterButton" type="button" tabindex="-1" value="-1" id="pageButtonDecrement">◀</button>
    <input class="filterInput" placeholder="0" value="" type="number" min="1" max="100000" name="page" id="pageField">
    <span id="pageCount">of 1</span>
    <button class="filterButton" type="button" tabindex="-1" value="1" id="pageButtonIncrement">▶</button>
</div>