/* Layout */

main {
    max-height: calc(100vh - var(--navHeight) - var(--footerHeight));
    grid-template-columns: 25em auto;
    grid-template-rows: var(--searchTitleHeight) var(--searchTitleHeight) auto;
    grid-template-areas:
    "filters pagination"
    "filters hotel"
    "filters list";
    position: relative;
}

.mainSearch {
    grid-area: search;
    text-align: center;
    display: flex;
    align-items: center;
}

.mainFilters {
    grid-area: filters;
    overflow-y: auto;
}

.mainHotel {
    grid-area: hotel;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
}

@media screen and (max-width: 1000px) {
    main {
        max-height: none;
        grid-template-columns: 1fr;
        grid-template-rows: var(--searchTitleHeight) var(--searchTitleHeight) auto auto;
        grid-template-areas: "pagination" "hotel" "list" "filters";
        overflow-y: visible;
    }
    .mainList {
        overflow-y: hidden !important;
    }
    .mainHotel {

    }
}