* { 
    box-sizing: border-box;
    transition:
        background-color var(--animationSpeed),
        color var(--animationSpeed),
        border var(--animationSpeed),
        box-shadow var(--animationSpeed);
}

body {
    display: grid;
    grid-template-rows: auto auto;
    padding-top: var(--navHeight);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

h1 {
    font-size: var(--headerFontSize);
    font-weight: var(--headerFontWeight);
}
h2 {
    font-size: var(--subHeaderFontSize);
    font-weight: var(--subHeaderFontWeight);
}

main {
    min-height: calc(100vh - var(--navHeight) - var(--footerHeight));
    text-align: justify;
    display: grid;
}

main > div {
    /*padding: var(--boxPadding) var(--boxPaddingLarge);*/
    padding: var(--boxPaddingSmall) var(--boxPadding);
}

@media screen and (max-width: 1000px) {

}

.colorAccent {
    background-color: var(--accentBackgroundColor);
    color: var(--accentForegroundColor);
}
.colorPrimary {
    background-color: var(--primaryBackgroundColor);
    color: var(--primaryForegroundColor);
}
.colorSecondary {
    background-color: var(--secondaryBackgroundColor);
    color: var(--secondaryForegroundColor);
}
.colorPlain {
    background-color: var(--plainBackgroundColor);
    color: var(--plainForegroundColor);
}
.colorPlainContrast {
    background-color: var(--plainContrastBackgroundColor);
    color: var(--plainContrastForegroundColor);
}

input {
    background-color: var(--plainBackgroundColor);
    color: var(--plainForegroundColor);
    border: none;
    outline: none;
    padding: 1em;
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
}
input:focus {
    border: none;
}
button {
    background-color: var(--plainContrastBackgroundColor);
    color: var(--plainContrastForegroundColor);
    width: 10em;
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
    cursor: pointer;
    outline: 0;
    border: 0;
    padding: var(--boxPadding);
    border-radius: var(--boxPadding);
}
button:hover {
    background-color: var(--primaryBackgroundColor);
    color: var(--primaryForegroundColor);
}

.adjacentRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 90vw !important;
    max-height: var(--interactiveHeight);
    justify-content: center;
}
.adjacentRow > input {
    min-width: 50%;
}
.adjacentRow > button {
    padding: 0;
    border-radius: 0;
}
.adjacentRow > *:first-child {
    border-radius: var(--boxBorderRadius) 0em 0em var(--boxBorderRadius);
    border: none;
}
.adjacentRow > *:last-child {
    border-radius: 0em var(--boxBorderRadius) var(--boxBorderRadius) 0em;
    border: none;
}

a.link {
    position: relative !important;
}
a.link::after {
    content: "";
    display: block;
    position: absolute;
    /*width: 0%;*/
    transform: scaleX(0%);
    width: 100%;
    left: 0;
    bottom: calc(-1 * var(--borderWidth));
    height: var(--borderWidth);
    transition: transform var(--animationSpeedFast) ease-out;
    background-color: currentColor;
    border-radius: var(--boxBorderRadiusSmall);
}
a.link:hover::after {
    /*width: 100%;*/
    transform: scaleX(100%);
}
a.link:focus::after {
    /*width: 100%;*/
    transform: scaleX(100%);
}
a.link::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: var(--borderWidth);
    background-color: currentColor;
    opacity: .1;
    bottom: calc(-1 * var(--borderWidth));
    border-radius: var(--boxBorderRadiusSmall);
    left: 0;
}

.shadow {
    box-shadow: var(--primaryShadowColor) 0px 7px 29px 0px; 
}