* { 
    box-sizing: border-box;
    transition:
        background-color .25s,
        color .25s,
        border .25s,
        box-shadow .25s;
}

body {
    display: grid;
    grid-template-rows: auto auto;
    padding-top: var(--navHeight);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

h1 {
    font-size: var(--headerFontSize);
    font-weight: var(--headerFontWeight);
}

main {
    min-height: calc(100vh - var(--navHeight) - var(--footerHeight));
    text-align: justify;
    display: grid;
}

main > div {
    padding: var(--boxPadding) var(--boxPaddingLarge) var(--boxPadding) var(--boxPaddingLarge);
}

@media screen and (max-width: 1000px) {

}

.colorAccent {
    background-color: var(--accentBackgroundColor);
    color: var(--accentForegroundColor);
}
.colorPrimary {
    background-color: var(--primaryBackgroundColor);
    color: var(--primaryForegroundColor);
}
.colorSecondary {
    background-color: var(--secondaryBackgroundColor);
    color: var(--secondaryForegroundColor);
}
.colorPlain {
    background-color: var(--plainBackgroundColor);
    color: var(--plainForegroundColor);
}

input {
    background-color: var(--plainBackgroundColor);
    color: var(--plainForegroundColor);
    border: none;
    outline: none;
    padding: 1em;
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
}
input:focus {
    border: none;
}
button {
    background-color: var(--plainContrastBackgroundColor);
    color: var(--plainContrastForegroundColor);
    width: 10em;
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
    cursor: pointer;
}
button:hover {
    background-color: var(--primaryBackgroundColor);
    color: var(--primaryForegroundColor);
}

.adjacentRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--interactiveHeight);
    justify-content: center;
}
.adjacentRow > input {
    min-width: 50%;
}
.adjacentRow > *:first-child {
    border-radius: var(--boxBorderRadius) 0em 0em var(--boxBorderRadius);
    border: none;
}
.adjacentRow > *:last-child {
    border-radius: 0em var(--boxBorderRadius) var(--boxBorderRadius) 0em;
    border: none;
}