/* Layout */

main {
    max-height: calc(100vh - var(--navHeight) - var(--footerHeight));
    grid-template-columns: 25em auto;
    grid-template-rows: var(--searchTitleHeight) auto;
    grid-template-areas:
    "filters pagination"
    "filters list";
    position: relative;
}

.mainSearch {
    grid-area: search;
    text-align: center;
    display: flex;
    align-items: center;
}

.mainPagination {
    grid-area: pagination;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
}
.page {
    display: flex;
    gap: var(--flexGap);
    align-items: center;
}
.page > span {
    margin-right: var(--flexGapLarge);
}

.mainFilters {
    grid-area: filters;
    transition: transform var(--animationSpeedSlow);
}

/* Filters Sidebar */

.mainFilters > form {
    display: flex;
    flex-direction: column;
    gap: var(--flexGapLarge);
    width: 100%;
    align-items: center;
}

.mainFilters > form > div:nth-child(even) {
    background-color: var(--secondaryLighterBackgroundColor);
    color: var(--secondaryLighterForegroundColor);
}

.mainFilters > form > div {
    height: var(--interactiveHeightLarge);
    --interactiveHeightInside: calc(var(--interactiveHeightLarge) - 2 * var(--boxPadding));
    line-height: calc(var(--interactiveHeightLarge) - 2 * var(--boxPadding));
    display: grid;
    /*grid-template-columns: 8fr 24fr 1fr;*/
    grid-template-columns: 1fr 4fr;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-items: center;
    gap: var(--flexGap);
    padding: var(--boxPadding);
    border-radius: var(--boxBorderRadiusSmall);
}

.mainFilters > form > div > div {
    height: var(--interactiveHeightLarge);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    height: var(--interactiveHeightInside);
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    justify-items: center;
    gap: var(--flexGap);
    padding: 0% 15%;
}

.filterName {
    text-align: left;
    width: inherit;
}

.mainFilters > form > div > img {
    display: none;
    width: 100%;
    opacity: 50%;
    cursor: pointer;
    transition: transform var(--animationSpeed);
}
.mainFilters > form > div > img:hover {
    transform: rotate(90deg);
}

/* Button */

.filterButton {
    background-color: transparent;
    width: inherit;
    outline: 0;
    border: 0;
    font-size: inherit;
    font-weight: inherit;
    border-radius: var(--boxBorderRadiusSmall);
    padding: var(--boxPaddingTiny);
}
#filtersButton {
    background-color: transparent;
    outline: 0;
    border: 0;
    font-size: inherit;
    font-weight: inherit;
    border-radius: var(--boxBorderRadiusSmall);
    padding: var(--boxPaddingTiny);
    background-color: var(--accentBackgroundColor);
    color: var(--accentForegroundColor);
}
#filtersButton:hover {
    background-color: var(--plainBackgroundColor);
    color: var(--plainForegroundColor);
}
.page > .filterButton {
    background-color: var(--accentBackgroundColor);
    color: var(--accentForegroundColor);
}
.page > .filterButton:hover {
    background-color: var(--plainBackgroundColor);
    color: var(--plainForegroundColor);
}
.mainFilters > form > div:nth-child(even) > div > .filterButton {
    background-color: var(--secondaryBackgroundColor);
    color: var(--secondaryForegroundColor);
}
.mainFilters > form > div:nth-child(even) > div > .filterButton:hover {
    background-color: var(--primaryLighterBackgroundColor);
    color: var(--primaryLighterForegroundColor);
}
.mainFilters > form > div:nth-child(odd) > div > .filterButton {
    background-color: var(--primaryBackgroundColor);
    color: var(--primaryForegroundColor);
}
.mainFilters > form > div:nth-child(odd) > div > .filterButton:hover {
    background-color: var(--primaryLighterBackgroundColor);
    color: var(--primaryLighterForegroundColor);
}
.filterSubmit {
    background-color: var(--primaryBackgroundColor);
    color: var(--primaryForegroundColor);
    width: 50%;
    padding: var(--boxPaddingSmall);
    border-radius: var(--boxBorderRadius);
}
.filterSubmit:hover {
    background-color: var(--primaryLighterBackgroundColor);
    color: var(--primaryLighterForegroundColor);
}

/* General Input */

.filterInput {
    width: 100%;
    height: 100%;
    display: inline;
    padding: var(--boxPaddingSmall);
    margin: 0;
    text-align: center;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    font-weight: inherit;
}

/* Number Input */

.filterInput[type=number] {
    appearance: textfield;
    transition: width var(--animationSpeed), box-shadow var(--animationSpeed);
}

.filterInput::-webkit-outer-spin-button,
.filterInput::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

.mainFilters > form > div:nth-child(odd) > div > .filterInput[type=number]:hover {
    box-shadow: 0 var(--borderWidth) 0 0 var(--secondaryDarkerBackgroundColor); 
}

.mainFilters > form > div:nth-child(odd) > div > .filterInput[type=number]:focus {
    box-shadow: 0 var(--borderWidth) 0 0 var(--secondaryDarkerBackgroundColor); 
}

.mainFilters > form > div:nth-child(even) > div > .filterInput[type=number]:hover {
    box-shadow: 0 var(--borderWidth) 0 0 var(--secondaryBackgroundColor); 
}

.mainFilters > form > div:nth-child(even) > div > .filterInput[type=number]:focus {
    box-shadow: 0 var(--borderWidth) 0 0 var(--secondaryBackgroundColor); 
}

/* Range Input */

.filterInputRangeDiv {
    grid-template-columns: 1fr 2fr 1fr !important;
    padding: 0 !important;
}

div.filterInput {
    position: relative !important;
    padding: 0;
    margin: 0;
    border-radius: var(--boxBorderRadius);
}

.filterInput[type=range] {
    position: absolute !important;
    display: inline;
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    /*pointer-events: none;*/
    width: 100% !important;
    max-width: 100%;
}
.filterInputUpperSlider {
    top: -33% !important;
}
.filterInputLowerSlider {
    top: 33% !important;
}

.mainFilters > form > div:nth-child(odd) > div > div.filterInput {
    background-color: var(--secondaryLighterBackgroundColor);
}
.mainFilters > form > div:nth-child(even) > div > div.filterInput {
    background-color: var(--primaryLighterBackgroundColor);
}

.filterInput[type=range]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    outline: 0;
    border: 0;
    height: 100%;
    box-shadow: inset 0 100% 0 0 black;
}
.filterInput[type=range]::-moz-range-thumb {
    appearance: none;
    -webkit-appearance: none;
    background-color: white;
    outline: 0;
    border: 0;
    height: calc(var(--interactiveHeightInside) * .75);
    /*width: var(--interactiveHeightInside);*/
    /*border-radius: var(--interactiveHeightInside);*/
    border-radius: 0;
    width: .5em;
    border-radius: .5em;
    pointer-events: auto;
    position: relative !important;
    box-shadow: none;
}
.filterInput[type=range]::-ms-thumb {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    outline: 0;
    border: 0;
    box-shadow: 0 0 2px 0 #555;
    height: 100%;
    box-shadow: inset 0 100% 0 0 black;
}

/*.mainFilters > form > div:nth-child(odd) > .filterInput[type=range]::-webkit-slider-thumb,
.mainFilters > form > div:nth-child(odd) > .filterInput[type=range]::-moz-range-thumb,
.mainFilters > form > div:nth-child(odd) > .filterInput[type=range]::-ms-thumb {
    color: var(--secondaryLighterBackgroundColor);
}

.mainFilters > form > div:nth-child(even) > .filterInput[type=range]::-webkit-slider-thumb,
.mainFilters > form > div:nth-child(even) > .filterInput[type=range]::-moz-range-thumb,
.mainFilters > form > div:nth-child(even) > .filterInput[type=range]::-ms-thumb {
    display: none;
    color: var(--secondaryLighterBackgroundColor);
}*/

.filterInput[type=range]::-webkit-slider-runnable-track {
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: none;
    pointer-events: none;
}
.filterInput[type=range]::-moz-range-track {
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: none;
    pointer-events: none;
}
.filterInput[type=range]::-ms-track {
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: none;
    pointer-events: none;
}

/* Offers */

.mainList {
    grid-area: list;
    display: flex;
    flex-direction: column;
    gap: var(--flexGapLarge);
    overflow-y: scroll;
}

.mainList > div {
    border-radius: var(--boxBorderRadiusSmall);
    padding: var(--boxPaddingSmall) var(--boxPadding);
    min-height: var(--offerHeight);
}

.mainList > div:nth-child(odd) {
    background-color: var(--plainContrastBackgroundColor);
    color: var(--plainContrastForegroundColor);
}

.mainList > div:nth-child(even) {
    background-color: var(--plainContrastSecondBackgroundColor);
    color: var(--plainContrastSecondForegroundColor);
}

.offer {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "name price" "data data";
    align-items: center;
    text-align: left;
}

.offer > b {
    text-align: right;
}

.offer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-area: data;
    color: var(--plainCommentForegroundColor);
    font-size: var(--fontSizeSmall);
}

#filtersButton {
    display: none;
}

@media screen and (max-width: 1000px) {
    main {
        max-height: none;
        grid-template-columns: 1fr;
        grid-template-rows: 5em auto auto;
        grid-template-areas: "pagination" "list" "filters";
        overflow-y: visible;
    }
    .mainList {
        overflow-y: visible;
    }
    .mainPagination {
        position: fixed;
        width: 100%;
    }
    .mainFilters {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 50;
    }
    .mainFilters.hidden {
        transform: translateX(-100%);
    }
    #filtersButton {
        display: block;
    }
}