main {
    max-height: calc(100vh - 12em);
    grid-template-columns: 20em auto;
    grid-template-rows: 5em auto;
    grid-template-areas:
        "filters search"
        "filters list";
}

.mainSearch {
    grid-area: search;
    text-align: center;
}

.mainFilters {
    grid-area: filters;
}

.mainFilters > form {
    display: flex;
    flex-direction: column;
    gap: var(--flexGap);
    width: 100%;
}

.mainFilters > form > div:nth-child(even) {
    background-color: var(--secondaryLighterBackgroundColor);
    color: var(--secondaryLighterForegroundColor);
}

.mainFilters > form > div {
    height: var(--interactiveHeightLarge);
    line-height: calc(var(--interactiveHeightLarge) - 2 * var(--boxPadding));
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr;
    width: 100%;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    justify-items: center;
    gap: var(--flexGap);
    padding: var(--boxPadding);
    border-radius: var(--boxBorderRadiusSmall);
}

.filterName {
    text-align: left;
    width: inherit;
}

.filterInput {
    width: 2em;
    height: 100%;
    display: inline;
    padding: .5em;
    margin: 0;
    text-align: center;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    font-weight: inherit;
    border-bottom: var(--boxPaddingTiny) solid transparent !important;
    transition: width .25s, box-shadow .2s;
}

.filterButton {
    background-color: transparent;
    width: inherit;
    outline: 0;
    border: 0;
    font-size: inherit;
    font-weight: inherit;
    border-radius: var(--boxBorderRadiusSmall);
    padding: var(--boxPaddingTiny);
}
.mainFilters > form > div:nth-child(even) > .filterButton {
    background-color: var(--secondaryBackgroundColor);
    color: var(--secondaryForegroundColor);
}
.mainFilters > form > div:nth-child(even) > .filterButton:hover {
    background-color: var(--primaryLighterBackgroundColor);
    color: var(--primaryLighterForegroundColor);
}
.mainFilters > form > div:nth-child(odd) > .filterButton {
    background-color: var(--primaryBackgroundColor);
    color: var(--primaryForegroundColor);
}
.mainFilters > form > div:nth-child(odd) > .filterButton:hover {
    background-color: var(--primaryLighterBackgroundColor);
    color: var(--primaryLighterForegroundColor);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.mainFilters > form > div:nth-child(odd) > .filterInput:hover {
    box-shadow: 0 var(--borderWidth) 0 0 var(--secondaryDarkerBackgroundColor); 
}

.mainFilters > form > div:nth-child(odd) > .filterInput:focus {
    box-shadow: 0 var(--borderWidth) 0 0 var(--secondaryDarkerBackgroundColor); 
}

.mainFilters > form > div:nth-child(even) > .filterInput:hover {
    box-shadow: 0 var(--borderWidth) 0 0 var(--secondaryBackgroundColor); 
}

.mainFilters > form > div:nth-child(even) > .filterInput:focus {
    box-shadow: 0 var(--borderWidth) 0 0 var(--secondaryBackgroundColor); 
}

.mainList {
    grid-area: list;
}

@media screen and (max-width: 1000px) {
    main {
        max-height: none;
        grid-template-columns: 1fr;
        grid-template-rows: 5em auto auto;
        grid-template-areas:
            "search"
            "list"
            "filters";
        overflow-y: visible;
    }
}