footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: var(--footerHeight);
    background-color: var(--primaryBackgroundColor);
    color: var(--primaryForegroundColor);
    text-align: center;
}
footer > * {
    font-size: var(--footerFontSize);
    font-weight: var(--footerFontWeight);
}
@media screen and (max-width: 1000px) {
    footer {
        height: auto;
        flex-direction: column;
        padding: var(--boxPadding);
    }
}