<div class="mainFilters hidden colorSecondary">
    <img src="/images/left-arrow.png" alt="Filters" id="filtersButtonClose">
    <h1>Filters</h1>
    <form>
        <div class="hotelFilter">
            <label class="filterName">Search</label>
            <input class="filterInput textInput" id="filterInputQuery" placeholder="Mallorca" value="" type="text" min="1" max="10" name="query">
            <img src="/images/x.png" alt="x">
        </div>
        <div>
            <label class="filterName">Sort</label>
            <div class="filterInputSelectDiv">
                <span class="underline">Any</span>
                <input class="filterInput" type="hidden" name="sort">
                <div class="popup shadow">
                    <option value="priceAsc">Price 🠕</option>
                    <option value="priceDesc">Price 🠗</option>
                    <option value="starsAsc" class="hotelFilter">Stars 🠕</option>
                    <option value="starsDesc" class="hotelFilter">Stars 🠗</option>
                    <option value="alphAsc" class="hotelFilter">Alphabetical 🠕</option>
                    <option value="alphDesc" class="hotelFilter">Alphabetical 🠗</option>
                    <option value="depAsc">Departure Date 🠕</option>
                    <option value="depDesc">Departure Date 🠗</option>
                    <option value="retAsc">Return Date 🠕</option>
                    <option value="retDesc">Return Date 🠗</option>
                </div>
            </div>
            <img src="/images/x.png" alt="x">
        </div>
        <div>
            <label class="filterName">Adults</label>
            <div>
                <button class="filterButton" type="button" tabindex="-1" value="-1">-</button>
                <input class="filterInput underline" placeholder="0" value="" type="number" min="1" max="10" name="adults">
                <button class="filterButton" type="button" tabindex="-1" value="1">+</button>
            </div>
            <img src="/images/x.png" alt="x">
        </div>
        <div>
            <label class="filterName">Children</label>
            <div>
                <button class="filterButton" type="button" tabindex="-1" value="-1">-</button>
                <input class="filterInput underline" placeholder="0" value="" type="number" min="0" max="10" name="children">
                <button class="filterButton" type="button" tabindex="-1" value="1">+</button>
            </div>
            <img src="/images/x.png" alt="x">
        </div>
        <div>
            <label class="filterName">Price</label>
            <div class="filterInputRangeDiv">
                <input class="filterInput underline" id="filterInputPriceLowerField" placeholder="0" value="" type="number" name="priceMin">
                <div class="filterInput">
                    <input class="filterInput filterInputUpperSlider" id="filterInputPriceUpperSlider" placeholder="0" value="" type="range" tabindex="-1">
                    <input class="filterInput filterInputLowerSlider" id="filterInputPriceLowerSlider" placeholder="0" value="" type="range" tabindex="-1">
                </div>
                <input class="filterInput underline" id="filterInputPriceUpperField" placeholder="0" value="" type="number" name="priceMax">
            </div>
            <img src="/images/x.png" alt="x">
        </div>
        <div id="filterRowStars" class="hotelFilter">
            <label class="filterName">Stars</label>
            <div class="filterInputRangeDiv">
                <input class="filterInput underline" id="filterInputStarsLowerField" placeholder="0" value="" type="number" name="starsMin">
                <div class="filterInput">
                    <input class="filterInput filterInputUpperSlider" id="filterInputStarsUpperSlider" placeholder="0" value="" type="range" tabindex="-1">
                    <input class="filterInput filterInputLowerSlider" id="filterInputStarsLowerSlider" placeholder="0" value="" type="range" tabindex="-1">
                </div>
                <input class="filterInput underline" id="filterInputStarsUpperField" placeholder="0" value="" type="number" name="starsMax">
            </div>
            <img src="/images/x.png" alt="x">
        </div>
        <div>
            <label class="filterName">Date</label>
            <div class="filterInputDateDiv">
                <span id="filterInputDateField" class="underline">Any</span>
                <input class="filterInput" id="filterInputDateBegin" type="hidden" name="departureDate" value="0">
                <input class="filterInput" id="filterInputDateEnd" type="hidden" name="returnDate" value="0">
                <div id="inputCalendar" class="popup shadow">
                    <span id="inputCalendarLeft">◀</span>
                    <span id="inputCalendarMonth">June 2020</span>
                    <span id="inputCalendarRight">▶</span>
                </div>
            </div>
            <img src="/images/x.png" alt="x">
        </div>
        <div>
            <label class="filterName">Airport</label>
            <div class="filterInputSelectDiv">
                <span class="underline">Any</span>
                <input class="filterInput" type="hidden" name="airport">
                <div id="airportList" class="popup shadow">
                    <option value="">Any</option>
                </div>
            </div>
            <img src="/images/x.png" alt="x">
        </div>
        <div>
            <label class="filterName">Room</label>
            <div class="filterInputSelectDiv">
                <span class="underline">Any</span>
                <input class="filterInput" type="hidden" name="room">
                <div id="roomList" class="popup shadow">
                    <option value="">Any</option>
                </div>
            </div>
            <img src="/images/x.png" alt="x">
        </div>
        <div>
            <label class="filterName">Meal</label>
            <div class="filterInputSelectDiv">
                <span class="underline">Any</span>
                <input class="filterInput" type="hidden" name="meal">
                <div id="mealList" class="popup shadow">
                    <option value="">Any</option>
                </div>
            </div>
            <img src="/images/x.png" alt="x">
        </div>
        <button class="filterButton filterSubmit" type="button" id="filterButtonSubmit">Show Results</button>
    </form>
</div>