<footer>
    <span>A CHECK24 GenDev Project by Kacper Darowski</span>
    <a href="https://opisek.net"><u>Website</u></a>
    <a href="https://opisek.net/linkedin"><u>LinkedIn</u></a>
    <a href="https://opisek.net/git/check24gendev2022"><u>GitHub</u></a>
    <a href="mailto:darowski.kacper@gmail.com"><u>E-Mail</u></a>
</footer>