<div class="navBlackout navFaded navHidden" id="navBlackout"></div>
<nav>
    <span>
        Vergleichsportal
        <button class="navExpand" id="navExpand"><img></button>
    </span>
    <div class="navLeft navFaded navHidden" id="navLeft">
        <a href="<%=host%>">Home</a>
        <a href="<%=host%>/search">Search</a>
        <a href="<%=host%>/contact">Contact</a>
    </div>
    <div class="navRight navFaded navHidden" id="navRight">
        <a>Home</a>
        <a>Profile</a>
        <a>Settings</a>
    </div>
</nav>
<script type="text/javascript" src="/js/nav.js"></script>