:root {
    /* Height */
    --navHeight: 3.5em;
    --footerHeight: 3em;
    --interactiveHeight: 3em;
    --interactiveHeightLarge: 3.5em;
    --offerHeight: 7em;
    
    /* Font Size */
    --fontSize: 1.2rem;
    --fontSizeSmall: 1rem;
    --fontWeight: 400;
    --headerFontSize: 1.7rem;
    --headerFontWeight: 700;
    --subHeaderFontSize: 1.5rem;
    --subHeaderFontWeight: 700;
    --footerFontSize: 1rem;
    --footerFontWeight: 500;
    --lineHeightText: 2rem;

    /* Flexboxes */
    --flexGap: .25em;
    --flexGapLarge: .5em;
    --flexGapLarger: 2em;

    /* Boxes */
    --boxPaddingTiny: .25em;
    --boxPaddingSmall: .5em;
    --boxPadding: 1em;
    --boxPaddingLarge: 2em;
    --boxPaddingHuge: 20em;
    --boxBorderRadius: 1em;
    --boxBorderRadiusSmall: .5em;

    /* Decoration */
    --borderWidth: .3em;

    /* Timing */
    --animationSpeed: .25s;
    --animationSpeedSlow: .5s;
    --animationSpeedFast: .2s;
}