:root {
    /* Height */
    --navHeight: 3.5em;
    --footerHeight: 3em;
    --interactiveHeight: 3em;
    
    /* Font Size */
    --fontSize: 1.2rem;
    --fontWeight: 400;
    --headerFontSize: 1.7rem;
    --headerFontWeight: 700;
    --footerFontSize: 1rem;
    --footerFontWeight: 500;

    /* Flexboxes */
    --flexGap: .25em;

    /* Boxes */
    --boxPaddingTiny: .25em;
    --boxPaddingSmall: .5em;
    --boxPadding: 1em;
    --boxPaddingLarge: 2em;
    --boxBorderRadius: 1em;
    --boxBorderRadiusSmall: .5em;

    /* Decoration */
    --borderWidth: .3em;
}