footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: var(--footerHeight);
    background-color: var(--primaryBackgroundColor);
    color: var(--primaryForegroundColor);
}