footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: var(--footerHeight);
    background-color: var(--primaryBackgroundColor);
    color: var(--primaryForegroundColor);
}
footer > * {
    font-size: var(--footerFontSize);
    font-weight: var(--footerFontWeight);
}