/* Offers */

.mainList {
    grid-area: list;
    display: flex;
    flex-direction: column;
    gap: var(--flexGapLarge);
    overflow-y: scroll;
}

.mainList > div {
    border-radius: var(--boxBorderRadiusSmall);
    padding: var(--boxPaddingSmall) var(--boxPadding);
    min-height: var(--offerHeight);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mainList > div:nth-child(odd) {
    background-color: var(--plainContrastBackgroundColor);
    color: var(--plainContrastForegroundColor);
}

.mainList > div:nth-child(even) {
    background-color: var(--plainContrastSecondBackgroundColor);
    color: var(--plainContrastSecondForegroundColor);
}

.offer {
    display: grid !important;
    grid-template-rows: minmax(2fr, auto) 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: "name price" "data button";
    align-items: center;
    text-align: left;
}

.offer > h2 {
    max-width: 40vw;
}

.offer > b {
    text-align: right;
}

.offer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-area: data;
    color: var(--plainCommentForegroundColor);
    font-size: var(--fontSizeSmall);
}

.offer > button {
    grid-area: button;
    justify-self: right;
    padding: var(--boxPaddingSmall);
    border-radius: var(--boxBorderRadiusSmall);
    background-color: var(--secondaryBackgroundColor);
    color: var(--secondaryForegroundColor);
}
.offer > button:hover {
    background-color: var(--primaryLighterBackgroundColor);
    color: var(--primaryLighterForegroundColor);
}

@media screen and (max-width: 1000px) {
    .offer {
        grid-template-rows: minmax(2fr, auto) 1fr 1fr;
        grid-template-columns: auto 1fr;
        grid-template-areas: "name price" "data data" "button button";
    }
    
}